.container{
    max-width: calc(100% - 200px);
    margin: auto;
    padding: 0 1rem;
}
.row{
    display: flex;
    flex-flow: row wrap;
    margin: 0 -1rem;
}

[class^="col-"]{ flex: 1 0 auto; padding: 0 1rem;}
.col-1{ flex-basis: calc(1/12 * 100%); max-width: calc(1/12 * 100%);}
.col-2{ flex-basis: calc(2/12 * 100%); max-width: calc(2/12 * 100%);}
.col-3{ flex-basis: calc(3/12 * 100%); max-width: calc(3/12 * 100%);}
.col-4{ flex-basis: calc(4/12 * 100%); max-width: calc(4/12 * 100%);}
.col-5{ flex-basis:  calc(5/12 * 100%); max-width: calc(5/12 * 100%);}
.col-6{ flex-basis:  calc(6/12 * 100%); max-width: calc(6/12 * 100%);}
.col-7{ flex-basis: 58.33%; max-width: 58.33%;}
.col-8{ flex-basis: 66.66%; max-width: 66.66%;}
.col-9{ flex-basis: 75%; max-width: 75%;}
.col-10{ flex-basis: 83.33%; max-width: 83.33%;}
.col-11{ flex-basis: 91.66%; max-width: 91.66%;}
.col-12{ flex-basis: 100%; max-width: 100%;}
.flex{ display: flex;}
.justify-space-bet{ justify-content: space-between; }
.align-center{ align-items: center;}